<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4">
      <div class="form form-style">
        <h2>Edit your DDIY profile</h2>
        <%= render 'shared/avatar' %>

        <div class="form-inputs">

          <%= simple_form_for @owner_profile do |f1| %>

           <%= field_set_tag 'User' do %>
            <%= f1.simple_fields_for current_user do |f| %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :location %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
            <% end %>
          <% end %>

          <div class="form-actions">
            <%= f1.submit "Get started", class: "btn btn-primary" %>
          </div>
          <% end %>

          <div class="col-md-6 col-xs-12">
          </div>

          <div class="col-md-6 col-xs-12">
          </div>

          <div class="col-xs-12">
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
