JOBS INDEX

<% if @jobs_search %>
  <ul>
    <% @jobs_search.each do |job| %>
    <li>
      <h2>
        <%= job.searchable.title %>
      </h2>
      <p>
        <%= job.searchable.description %>
      </p>
      <strong>
        <%= job.searchable.category %>
      </strong>
      </li>
    <% end %>
  </ul>

<% else %>
  <ul>
    <% @jobs.each do |job| %>
    <li>
      <h2>
        <%= job.title %>
      </h2>
      <p>
        <%= job.description %>
      </p>
      <strong>
        <%= job.category %>
      </strong>
      </li>
    <% end %>
  </ul>
<% end %>

