<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 text-center">
      <h1>Create a new Job</h1>
      <%= simple_form_for @job do |f| %>
      <%= f.input :title, placeholder: "My boiler is broken and I am frozen!" %>
      <%= f.input :category, :collection => ["Painting", "Plumbing", "Electrics", "Carpentry", "Cleaning", "Handyman", "Other"], prompt: "Choose a category" %>
      <%= f.input :description, placeholder: "I need ..."  %>
      <%= f.input :photo, placeholder: "Add a photo to get a more accurate quote"  %>
      <%= f.submit "Publish your job", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

