
<div class="container bm">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 text-center">
      <div class="form form-style">
        <h2>Create a new Job</h2>
        <%= simple_form_for @job do |f| %>
        <div class="form-inputs">

          <%= f.input :title, placeholder: "My boiler is broken and I am frozen!" %>
          <%= f.input :category, selected: params["category"], collection: Job::CATEGORIES %>
          <%= f.input :description, placeholder: "I need ..."  %>
          <%= f.hidden_field :status, value: "pending" %>
          <%= f.input :photos, as: :attachinary %>
        </div>
        <div class="form-actions">
          <%= f.submit "Publish your job", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>


