<p> Job decription: </p>
<p> Title: <%= @job.title %></p>
<p> Description: <%= @job.description %></p>
<p> Status: <%= @job.status %></p>
<p> Photo: <%= @job.photo %></p>
<p> Created date: <%= @job.created_at %></p>

<p><%= link_to "Go to User Dashboard", owner_profile_path %></p>
