<div class="nav-wrap">
  <div class="container">
    <div class="row">
      <div class="navbar-wagon">
        <!-- Logo -->
        <!-- can't click on logo, just at the corners of logo  -->
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag 'logo.png', height: 50 %>
        <% end %>

        <!-- Right Navigation -->
        <div class="navbar-nav">

          <% if user_signed_in? %>

          <!-- Links when logged in -->

        <% if params[:controller] ==  "dashboard/dashboards" && params[:action] ==  "worker" %>
          <%= link_to "MY JOBS", worker_jobs_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% end  %>
        <% if params[:controller] ==  "dashboard/dashboards" && params[:action] ==  "owner" %>
          <%= link_to "MY JOBS", owner_jobs_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% end  %>
        <% if params[:controller] !=  "dashboard/dashboards" %>
          <%= link_to "MY JOBS", jobs_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% end  %>
          <%= link_to "REPORTS", "#", class: "navbar-wagon-item navbar-wagon-link" %>

          <%= link_to "MESSAGES", "#", class: "navbar-wagon-item navbar-wagon-link" %>

          <!-- Links when logged in -->


        </div>

        <div class="navbar-wagon-right hidden-xs">

          <!-- Avatar with dropdown menu -->

          <form class="navbar-form hidden-sm">
            <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default input-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
          <i class="fa fa-question fa-lg" aria-hidden="true" style="padding-right: 15px;"></i>
          <i class="fa fa-bell" aria-hidden="true"></i>
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <%= render "shared/navbar_dropdown" %>
            </div>
          </div>
          <% else %>
        </div>

        <div class="navbar-nav hidden-xs">

          <!-- Links when logged in -->

          <%= link_to "BROWSE", jobs_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "HOW IT WORKS", "#", class: "navbar-wagon-item navbar-wagon-link" %>

        </div>
        <div class="navbar-wagon-right hidden-xs hidden-sm">
          <!-- Login link (when logged out) -->
          <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to t(".sign_in", default: "SIGN UP"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to t(".sign_in", default: "Become a Pro"), new_user_session_path, class: "btn-medium btn-sm" %>

        </div>
        <% end %>
      </div>

      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <%= render "shared/navbar_dropdown" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



