<h1>this is the request full details</h1>
<p> <%= @job.description %></p>
<p> <%= @job.title %></p>
<p><%= @job.photo %></p>
<p><%= @job.category %></p>


<%= simple_form_for @request do |f| %>
<div class="form-inputs">
</div>
<div class="form-actions">
  <%= f.hidden_field :status, value: "accepted" %>
  <%= f.submit "accept", class: "btn btn-primary" %>
</div>
<% end %>
