<h1>These are your requests</h1>

<% @requests.each do |request| %>

<p> <%= request.status%></p>
<p> <%= request.hours%></p>
<p> <%= request.start_time%></p>
<p> <%= request.material_cost%></p>
<p>Amount: <%= humanized_money_with_symbol(request.price) %></p>

<% end %>
