<div class="container">
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div class="requests-display">
        <div class="requests-header">
          <h2>Send Quote</h2>
        </div>
        <div class="requests-box-1">
          <h2> <%= @job.category %>: <%= @job.title %></h2>
          <p> <%= @job.description %></p>
          <p><%#= @job.photos %></p>
          <p><%= @job.status %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div class="requests-display">
        <div class="requests-header">
          <h4>Please worker, add your input</h4>
        </div>
        <div class="requests-box-1">
          <%= simple_form_for @request do |f| %>
          <%= f.input :hours, placeholder: "1hr"  %>
          <%= f.input :start_time, placeholder: "11am"  %>
          <%= f.input :material_cost, placeholder: "20$"  %>
          <%= f.input :time, placeholder: "August 31st"  %>
          <%= f.hidden_field :status, value: "send quote" %>
          <%= f.submit "respond", class: "btn btn-primary" %>
          <% end %>

          <%= simple_form_for @request do |f| %>
          <%= f.hidden_field :status, value: "cancelled" %>
          <% link_to dashboard_workers_path %>
          <%= f.submit "decline", class: "btn btn-primary" %>
          <% end %>

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
        </div>
      </div>
    </div>
  </div>
</div>
