<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 text-center">
      <h2>request show page</h2>
      <p> <%= @job.description %></p>
      <p> <%= @job.title %></p>
      <p><%= @job.photo %></p>
      <p><%= @job.category %></p>
      <p><%= @job.status %></p>



    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 text-center">
    <h2>Please worker, add your input</h2>
      <%= simple_form_for @request do |f| %>
      <%= f.input :hours, placeholder: "1hr"  %>
      <%= f.input :start_time, placeholder: "11am"  %>
      <%= f.input :material_cost, placeholder: "20$"  %>
      <%= f.input :time, placeholder: "August 31st"  %>
      <% end %>
            <%= simple_form_for @request do |f| %>
      <%= f.hidden_field :status, value: "accepted" %>
      <%= f.submit "respond", class: "btn btn-primary" %>
      <% end %>

      <%= simple_form_for @request do |f| %>
      <%= f.hidden_field :status, value: "cancelled" %>
      <% link_to dashboard_workers_path %>
      <%= f.submit "decline", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
