

<script type="text/javascript">
  $("#button").click(function() {
    $('html, body').animate({
        scrollTop: $("#myDiv").offset().top - 150 /*(150) is height to leave from top*/
    }, 2000);
});
</script>
<div class="wrapper">
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1501183638710-841dd1904471?');">
  <div class="banner-content">
    <p class = "col-md-8 col-md-offset-3 text-left title">LOCAL PROFESSIONALS COMPETE FOR YOUR JOB</p>
    <div class = "row">
      <h1 class = "col-md-8 col-md-offset-3 text-left">Book local professionals for repair and renovations</h1>
    </div>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <form class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control input-sm" placeholder="Type a Job">
        </div>
        <button type="submit" class="btn btn-primary input-sm">Book Pro</button>
      </form>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><%= link_to "Create Worker profile", new_worker_profile_path, style: "color: red" %>
        <%= link_to "Create Owner profile", new_owner_profile_path, style: "color: green" %>
        <%= link_to "Create Job", new_job_path %></p>
      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-2" style="margin-top: 50px">
      <div class="status">
        <h4>Status</h4>
        <ul>
          <li class="status-active">
            <%= link_to "All Jobs", dashboard_workers_path, class: "" %>
          </li>
          <li class="status-inactive">
            <%= link_to "Active", dashboard_workers_path, class: "" %>
          </li>
          <li class="status-inactive">
            <%= link_to "Pending", dashboard_workers_path, class: "" %>
          </li>
          <li class="status-inactive">
            <%= link_to "Complete", dashboard_workers_path, class: "" %>
          </li>
        </ul>
      </div>
      <div class="status">
        <h4>Categories</h4>
        <ul>
          <li class="status-inactive">
            <%= link_to "Plumber", dashboard_workers_path, class: "" %>
          </li>
          <li class="status-inactive">
            <%= link_to "Electrician", dashboard_workers_path, class: "" %>
          </li>
          <li class="status-inactive">
            <%= link_to "Carpenter", dashboard_workers_path, class: "" %>
          </li>
          <li class="status-inactive">
            <%= link_to "Etc", dashboard_workers_path, class: "" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card-list">
        <h2>My Jobs</h2>
      </div>
      <div class="card">
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <div class="card-title">
          <h2>So much gooood</h2>
        </div>
        <div class="card-details">
          <p>Estimated time: 4 hours - Posted 57 minutes ago</p>
        </div>
        <div class="card-description">
          <p>I need to paint two rooms. What more do you need to know? Oh yeah, I’d like one room to be a soft blue - the other can be some creamy pasty pink or whatever makes you feel giddy. I’m just a guy who’s tired of white.</p>
        </div>
        <div class="card-payment">Client Payment: Verified</div>
        <div class="card-location">
          <p><i class="fa fa-map-marker" aria-hidden="true"></i> Barcelona, España</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-md-3" style="margin-top: 50px">
      <div class="myprofile">
        <div class="myprofile-header">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
          <%= link_to "My Profile", dashboard_workers_path, class: "" %>
        </div>
        <div class="myprofile-visibility">
          <h3>Visibility</h3>
          <i class="fa fa-globe" aria-hidden="true"></i><a>Public</a>
        </div>
        <div class="myprofile-availibility">
          <h3>Availibility</h3>
          <a>08:00 - 20:00</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="requests-display">
        <div class="requests-header">
          <h2>Requests</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<p><%= link_to "Create Worker profile", new_worker_profile_path %></p>
<p><%= link_to "Create Owner profile", new_owner_profile_path %></p>

