<style type="text/css">
body, html {
    height: 100%;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
</style>

<script type="text/javascript">
  $("#button").click(function() {
    $('html, body').animate({
      scrollTop: $("#myDiv").offset().top - 150 /*(150) is height to leave from top*/
    }, 2000);
  });
</script>
<div class="parallax">
<div class="wrapper">
  <div class="banner">
    <div class="banner-content">
      <p class = "col-md-8 col-md-offset-2 title" style = "text-align: center; margin-bottom: 0px">LOCAL PROFESSIONALS COMPETE FOR YOUR JOB</p>
      <div class = "row">
        <h1 class = "col-md-8 col-md-offset-2", style = "text-align: center; margin-top: 0px">Book local professionals for repair and renovations</h1>
      </div>
      <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
      <form action="<%= new_job_path %>" class="navbar-form">
        <div class="form-group">
          <select class="form-control select optional" name="category" id="job_category"><option value="">Choose a category</option>
            <option value="Painting">Painting</option>
            <option value="Plumbing">Plumbing</option>
            <option value="Electrics">Electrics</option>
            <option value="Carpentry">Carpentry</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Handyman">Handyman</option>
            <option value="Other">Other</option></select>
<!--             <input type="text" class="form-control input-sm" name="category" placeholder="Type a Job">
 -->          </div>
          <button type="submit" class="btn btn-primary input-sm">Book Pro</button>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      </div>

    <div class="row">
      <div class="col-md-12">

        </div>
      </div>
      <div class="row value-prop">
        <div class="col-sm-4 col-lg-3 value-props">
          <div class="value-prop-card">
            <%= image_tag "workers.png", class: "value-prop-img" %>
            <h2>Qualified Professionals</h2>
            <p>Each of our professionals are verified and vetted. We only accept the best.</p>
          </div>
        </div>
        <div class="col-sm-4 col-lg-3 col-lg-offset-1 value-props">
          <div class="value-prop-card">
            <%= image_tag "24h.png", class: "value-prop-img" %>
            <h2>All Day Service</h2>
            <p>Our service never sleeps. Select from workers available at any time.</p>
          </div>
        </div>
        <div class="col-sm-4 col-lg-3 col-lg-offset-1 value-props">
          <div class="value-prop-card">
            <%= image_tag "guarantee.png", class: "value-prop-img" %>
            <h2>Guaranteed Satisfaction</h2>
            <p>Not satisfied? No problem. Our contracts guarantee satisfaction or your money back.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row how-it-works">
      <div class="col-md-12">
        <div class="how-it-works-head">
          <h1>How it Works</h1>
        </div>
      </div>
      <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
        <%= image_tag "how-it-works.jpg", class: "how-it-works-img" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 how-it-works-list">
        <ul>
          <li>
            <h2>1 - Describe the Task</h2>
            <p>Give us the details and we'll find you the help.</p>
          </li>
          <li>
            <h2>2 - Choose your tradesman</h2>
            <p>Select from a list of qualified and fully vetted Tradesman for the job.</p>
          </li>
          <li>
            <h2>3 - Get it done</h2>
            <p>Tradesman arrives and gets the job done. When your task is complete, payment will happen securely through the service.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row real-tasks">
      <div class="col-sm-12">
        <div class="real-tasks-head">
          <h1>Real Tasks</h1>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>100,000+ bookings completed by top pros</h2>
        <p>Pros are rated and reviewed by customers like you. Choose the pro you want to work with by adding them to your Task.</p>
      </div>
      <div class="col-sm-6">
        <%= image_tag "realstuff.png", class: "realstuff" %>
      </div>
    </div>
  </div>

