 <div class="container" style="margin-top: 0px">
    <div class="row">
      <div class="col-sm-2 hidden-xs" style="margin-top: 50px">
        <div class="status">
          <h4>Status</h4>
          <ul>
            <li class="status-<%= params[:status] == "all" ? "active" : "inactive" %>">
              <%= link_to "All Jobs", dashboard_owners_path(status: "all"), class: "" %>
            </li>
            <li class="status-<%= (params[:status] == nil || params[:status] == "pending") ? "active" : "inactive" %>">
              <%=  link_to "Pending", dashboard_owners_path(status: "pending"), class: "" %>
            </li>
            <li class="status-<%= (params[:status] == nil || params[:status] == "received quote") ? "active" : "inactive" %>">
              <%= link_to "Received Quotes", dashboard_owners_path(status: "recieved quote"), class: "" %>
            </li>
            <li class="status-<%= (params[:status] == nil || params[:status] == "accepted") ? "active" : "inactive" %>">
              <%= link_to "Accepted", dashboard_owners_path(status: "accepted"), class: "" %>
            </li>
            <li class="status-<%= (params[:status] == nil || params[:status] == "completed") ? "active" : "inactive" %>">
              <%= link_to "Completed", dashboard_owners_path(status: "completed"), class: "" %>
            </li>
            <!-- Here also show requests: Canceled -->
            <li class="status-<%= (params[:status] == nil || params[:status] == "declined") ? "active" : "inactive" %>">
              <%= link_to "Declined", dashboard_owners_path(status: "declined"), class: "" %>
            </li>
          </ul>
        </div>
        <div class="status">
          <h4>Categories</h4>
          <ul>
            <li class="status-inactive">
              <%= link_to "Plumber", dashboard_owners_path, class: "" %>
            </li>
            <li class="status-inactive">
              <%= link_to "Electrician", dashboard_owners_path, class: "" %>
            </li>
            <li class="status-inactive">
              <%= link_to "Carpenter", dashboard_owners_path, class: "" %>
            </li>
            <li class="status-inactive">
              <%= link_to "Painter", dashboard_owners_path, class: "" %>
            </li>
            <li class="status-inactive">
              <%= link_to "Cleaner", dashboard_owners_path, class: "" %>
            </li>
            <li class="status-inactive">
              <%= link_to "Handyman", dashboard_owners_path, class: "" %>
            </li>
            <li class="status-inactive">
              <%= link_to "Other", dashboard_owners_path, class: "" %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card-list">
          <h2>My Jobs</h2>
        </div>
        <% @jobs.each do |job| %>
          <% job.requests.each do |request| %>
            <div class="card">
              <div class="card-main">
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <div class="card-title">
                  <h2><%= job.title %></h2>
                </div>
                <div class="card-details">
                  <p><%= current_user.email %> Estimated time: 4 hours - Posted 57 minutes ago</p>
                </div>
                <div class="card-description">
                  <p><%= job.description %></p>
                </div>
                <div class="card-payment">Client Payment: Verified
                </div>
                <div class="card-location">
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= current_user.location %></p>
                </div>
              </div>
              <div class="card-side">
                <p class="status pending"><%= job.status %></p>
                <p class="price">50 $ / hour</p>

                   <p> <%= request.id %></p>
                   <p> <%= request.hours %></p>
                   <p> <%= request.start_time %></p>
                   <p> <%= request.material_cost %></p>

              </div>
              <a class="card-link" href="#" ></a>
            </div>
          <% end %>
        <% end %>
        <div>

        </div>
      </div>
      <div class="col-sm-3 hidden-xs" style="margin-top: 50px">
        <div class="myprofile">
          <div class="myprofile-header">
            <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
            <%= link_to "My Profile", dashboard_workers_path, class: "" %>
          </div>
          <div class="myprofile-visibility">
            <h3>Visibility</h3>
            <i class="fa fa-globe" aria-hidden="true"></i><a>Public</a>
          </div>
          <div class="myprofile-availibility">
            <h3>Availibility</h3>
            <a>08:00 - 20:00</a>
          </div>
        </div>
      </div>
    </div>
  </div>
