
<div class="container request-list" style="margin-top: 30px">
  <div class="row">
    <div class="hidden-xs col-sm-2" style="margin-top: 50px">

      <div class="status">
        <h4>Categories</h4>
        <ul>
          <li class="status-<%= (params[:category] == nil || params[:category] == "All_pro") ? "active" : "inactive" %>">
            <%= link_to "All Pro", worker_profiles_path(params[:status] == "All_pro"), class: "" %>
          </li>
          <li class="status-<%= params[:status] == "Plumber" ? "active" : "inactive" %>">
            <%= link_to "Plumber", worker_profiles_path(params[:status] == "Plumber"), class: "" %>
          </li>
          <li class="status-<%= params[:status] == "Electrician" ? "active" : "inactive" %>">
            <%= link_to "Electrician", worker_profiles_path(params[:status] == "Electrician"), class: "" %>
          </li>
          <li class="status-<%= params[:status] == "Carpenter" ? "active" : "inactive" %>">
            <%= link_to "Carpenter", worker_profiles_path(params[:status] == "Carpenter"), class: "" %>
          </li>
          <li class="status-<%= params[:status] == "Painter" ? "active" : "inactive" %>">
            <%= link_to "Painter", worker_profiles_path(params[:status] == "Painter"), class: "" %>
          </li>
           <li class="status-<%= params[:status] == "Cleaner" ? "active" : "inactive" %>">
            <%= link_to "Cleaner", worker_profiles_path(params[:status] == "Cleaner"), class: "" %>
          </li>
          <li class="status-<%= params[:status] == "Handyman" ? "active" : "inactive" %>">
            <%= link_to "Handyman", worker_profiles_path(params[:status] == "Handyman"), class: "" %>
          </li>
          <li class="status-<%= params[:status] == "Other" ? "active" : "inactive" %>">
            <%= link_to "Other", worker_profiles_path(params[:status] == "Other"), class: "" %>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-xs-12 col-sm-10">
      <div class="card-list">
          <h2>Available Workers</h2>
      </div>
      <% @worker_profiles.each do |worker_profile| %>
      <div class="card">
        <div class="card-main">
          <img class="card-user" src="<%= worker_profile.user.photo %>">
          <div class="card-title">
            <h2> <%= worker_profile.skill_area %></h2>
          </div>
          <div class="card-details">
            <p><%= worker_profile.user.first_name %>
            <%= worker_profile.user.last_name %></p>
          </div>
          <div class="card-description">
            <p><%= worker_profile.bio %></p>
          </div>
          <div class="card-payment">Client Payment: Verified
          </div>
          <div class="card-location">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Barcelona, España</p>
          </div>
        </div>
        <div class="card-side">
          <p class="status pending card-sider">Pending</p>
          <p class="price card-sider"> Price per hour: <%= worker_profile.price_per_hour %></p>
          <p class="card-sider"><%= link_to "Choose Pro", worker_profile_path(worker_profile, job_id: params[:job_id]), class: "btn btn-primary input-sm" %></p>
        </div>
      </div>
      <%end %>
    </div>
  </div>
</div>
