<p>List of Workers, matched by type of work</p>
<p>Two actions (buttons): 1 - Select Pro and 2 - Send request </p>
<p> Push 1 - Select Pro - redirect to WorkerProfile page => worker_profile#show </p>
<div class="container">
  <div class="row">
    <% @worker_profiles.each do |worker_profile| %>

    <div class="col-xs-12">

      <div class="message">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <div class="message-name">
          <h3>
            <%= worker_profile.user.first_name %>
            <%= worker_profile.user.last_name %>
          </h3>

        </div>
        <div class="message-body">
          <p><strong>"How can I help?"</strong></p>
          <p>
            <%= worker_profile.bio %>
          </p>
        </div>
        <div class="message-status">
          <p class="status pending">Pending</p>
          <div class="price">
            Price per hour: <%= worker_profile.price_per_hour %>
              <%= link_to "See full profile", worker_profile_path(worker_profile), class: "btn btn-primary input-sm" %>
          </div>
        </div>
      </div>
    </div>
  <%end %>
  </div>
</div>

