
<div class="container request-list" style="margin-top: 30px">
  <div class="row">
    <div class="hidden-xs col-sm-2" style="margin-top: 50px">

      <div class="status">
        <h4>Categories</h4>
        <ul>
          <li class="status-<%= (params[:category] == nil || params[:category] == "All pro") ? "active" : "inactive" %>">
             <%= link_to "All Pro", job_worker_profiles_path(@job), class: "" %>
          </li>
          <li class="status-<%= params[:category] == "Plumbing" ? "active" : "inactive" %>">
            <%= link_to "Plumber", job_worker_profiles_path(@job, category: "Plumbing"), class: "" %>
          </li>
          <li class="status-<%= params[:category] == "Electrics" ? "active" : "inactive" %>">
            <%= link_to "Electrician", job_worker_profiles_path(@job, category: "Electrics"), class: "" %>
          </li>
          <li class="status-<%= params[:category] == "Carpentry" ? "active" : "inactive" %>">
            <%= link_to "Carpenter", job_worker_profiles_path(@job, category: "Carpentry"), class: "" %>
          </li>
          <li class="status-<%= params[:category] == "Painting" ? "active" : "inactive" %>">
            <%= link_to "Painter", job_worker_profiles_path(@job, category: "Painting"), class: "" %>
          </li>
           <li class="status-<%= params[:category] == "Cleaning" ? "active" : "inactive" %>">
            <%= link_to "Cleaner", job_worker_profiles_path(@job, category: "Cleaning"), class: "" %>
          </li>
          <li class="status-<%= params[:category] == "Handyman" ? "active" : "inactive" %>">
            <%= link_to "Handyman", job_worker_profiles_path(@job, category: "Handyman"), class: "" %>
          </li>
          <li class="status-<%= params[:category] == "Other" ? "active" : "inactive" %>">
            <%= link_to "Other", job_worker_profiles_path(@job, category: "Other"), class: "" %>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-xs-12 col-sm-10">
      <div class="card-list">
          <h2>Available Workers</h2>
      </div>

      <% @worker_profiles.each do |worker_profile| %>
      <div class="card">
        <div class="card-main">
          <div class="card-user">

              <% if worker_profile.user.photo?  %>
                <img src="<%= cl_image_path worker_profile.user.photo, height: 30, width: 30, crop: :thumb, gravity: :face %>" >
                <% else %>
                <div class="avatar-wrapper dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" >
                  hello
                </div>
            <% end %>

          </div>
          <div class="card-title">
            <h2> <%= worker_profile.user.first_name %>
            <%= worker_profile.user.last_name %></h2>
          </div>
          <div class="card-details">
            <p><%= worker_profile.skill_area %></p>
          </div>
          <div class="card-description">
            <p><%= worker_profile.bio %></p>
          </div>
          <div class="card-payment">Client Payment: Verified
          </div>
          <div class="card-location">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= worker_profile.user.location %></p>
          </div>
        </div>
        <div class="card-side">
          <p class="price card-sider"> Price per hour: <%= worker_profile.price_per_hour %></p>
          <p class="card-sider"><%= link_to "Choose Pro", worker_profile_path(worker_profile, job_id: params[:job_id]), class: "btn btn-primary input-sm" %></p>
        </div>
      </div>
      <%end %>
    </div>
  </div>
</div>
