<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 text-center">
      <div class="form">
        <h2>Become a DDIY Pro</h2>
        <%= simple_form_for @worker_profile do |f| %>
        <div class="form-inputs">
          <%= f.input :skill_area, :collection => ["Builder", "Painter", "Carpenter", "Electrician", "Cleaner", "Handyman", "Other"], prompt: "Select your area of expertise" %>
          <%= f.input :price_per_hour, placeholder: "50€ per hour"  %>
          <%= f.input :bio, placeholder: "You don't see any paintbrush lines in my work!"  %>
        </div>
        <div class="form-actions">
          <%= f.submit "Get started", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
