
<div class="container">
  <div class="row">

    <div class="col-xs-9">
      <div class="requests-display">
        <div class="requests-header">
          <h2><p>Worker Profile</p></h2>
        </div>
        <div class="requests-box">
          <div class="request-top">
            <div class="request-top-left">
              <p> Skill area: <%= @worker_profile.skill_area %></p>
              <p> Description: <%= @worker_profile.bio %></p>
              <!-- <p> Price per hour: €<%= @worker_profile.price_per_hour %></p> -->
            </div>
            <div class="request-top-right">
              <p> Available: <%= @worker_profile.available %></p>
              <p> Completed Tasks: 5 <%= @worker_profile.completed_tasks %></p>
              <p> Rating: <%= @worker_profile.rating %></p>
            </div>
            <div class="avatar-div">

              <% if @worker_profile.user.photo?  %>
                <img src="<%= cl_image_path @worker_profile.user.photo, height: 30, width: 30, crop: :thumb, gravity: :face %>" >
                <% else %>
                <div class="avatar-wrapper dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" >

                </div>
            <% end %>

            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="col-xs-3 request-side">
      <%= link_to "Back to Dashboard", job_worker_profiles_path(params[:job_id]) %>
      <h3> Price per hour:</h3><h2 style="margin-bottom: 10px;">€<%= @worker_profile.price_per_hour %></h2>
      <%#= link_to "Book", root_path, class: "btn-medium" %>
      <%= simple_form_for @request do |f| %>
        <%= f.hidden_field :worker_profile_id, value: @worker_profile.id %>
        <%= f.hidden_field :job_id, value: params[:job_id] %>
        <%= f.hidden_field :category, value: @worker_profile.skill_area %>
        <%= f.submit "Send Request", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
