
<div class="container">
  <div class="row">

    <div class="col-xs-9">
      <div class="requests-display">
        <div class="requests-header">
          <h2><p>Worker Profile</p></h2>
        </div>
        <div class="requests-box">
          <div class="request-top">
            <div class="request-top-left">
              <p> Skill area: <%= @worker_profile.skill_area %></p>
              <p> Description: <%= @worker_profile.bio %></p>
              <p> Price per hour: <%= @worker_profile.price_per_hour %></p>
            </div>
            <div class="request-top-right">
              <p> Available: <%= @worker_profile.available %></p>
              <p> Completed Tasks: <%= @worker_profile.completed_tasks %></p>
              <p> Rating: <%= @worker_profile.rating %></p>
            </div>
            <%= render 'shared/avatar' %>
          </div>
          <div class="request-mid">
            <h3>Description</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            <p> Job_id: <%= @job_id %></p>
            <p> worker_id: <%=  @worker_profile.id %></p>
                    <%= button_to "Select this profile", store_worker_id_path(worker_profile_id: @worker_profile.id), class: "btn btn-primary input-sm" %>
          </div>
          <p><%= link_to "Go to home page", root_path %></p>
        </div>
      </div>
    </div>
    <div class="col-xs-3 request-side">
      <%= link_to "Back to Dashboard", worker_profiles_path %>
      <h3> Price per hour:</h3><h2 style="margin-bottom: 10px;">€<%= @worker_profile.price_per_hour %></h2>
      <%= link_to "Book", root_path, class: "btn-medium" %>
    </div>
  </div>
</div>
